---
siteName: YourSiteName
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}} | {{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/pose-page.css">
</head>
<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav.njk" %}
    </header>

  {{ content | safe }}

  <footer>
    <div>
      <p>&copy; {{ pkg.author }}</p>
      <!-- You can change all of this footer content. -->
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>