---
layout: base.njk
---

<header class="page-header">
    <h2>Pose: {{title}}</h2>
    <div class="info def-list-dots">
        <dl>
            <dt>Asana:</dt>
            <dd>{{asana}}</dd>
            <dt>English Name:</dt>
            <dd>{{english}}</dd>
            <dt>Type:</dt>
            <dd>{{type}}</dd>
            <dt>First Used:</dt>
            <dd>{{firstused}}</dd>
        </dl>
    </div>
</header>
<div class="tags"><p>
tags: {% for tag in tags %}
<a href="/tags/{{tag}}/">{{tag}}</a> &nbsp;|&nbsp;
{% endfor %}</p>
</div>

<main class="main">
{{ content | safe }}
</main>
<section class="gallery">
    <h2 class="gallery_title">Examples</h2>
    {% for img in imageGallery %}
    <div class="gallery_image">
        <figure>
            <img src="{{img.url}}" alt="{{img.alt}}">
            <figcaption>{{img.cite | safe}}</figcaption>
        </figure>
    </div>
    {% endfor %}
</section>

<footer class="posefooter">
<div class="sources">
    <h3>Source</h3>
    <p>The text content from this page was copied from Wikipedia <a href="{{wikipedia}}">view the article</a>.</p>
    <p>Image sources are cited on the images themselves.</p>
</div>

<h3> All {{type}} poses</h3>

<ul role="list">
{% for pose in collections.pose %}
{% if type == pose.data.type %}
<li>
    <a 
    {% if pose.url === page.url %}aria-current="page"{% endif %} 
    href="{{ pose.url }}">
        {{ pose.data.title }}
    </a>
</li>
{% endif %}
{%- endfor %}
</ul>
</footer>
<hr>
