    <div class="card" data-type="{{pose.data.type}}">
        <figure class="card_image">
            <a href="{{pose.url}}">
            <img src="{{pose.data.image.url}}" alt="{{pose.data.image.alt}}">
            </a>
            <figcaption>{{pose.data.image.cite | safe}}</figcaption>
        </figure>
        <div class="card_text">
        <h3><a href="{{pose.url}}">{{pose.data.english}}</a></h3>
        <div class="asana">
          <p><b>asana:</b> {{pose.data.asana}}</p>
        <p>
          <b>pose type:</b> {{pose.data.type}}
        </p>
        </div>
      </div>
    </div>