    <div class="card-image">
        <figure>
            <a href="{{pose.url}}">
            <img src="{{pose.data.image.url}}" alt="{{pose.data.image.alt}}">
            </a>
            <figcaption>{{pose.data.image.cite | safe}}</figcaption>
        </figure>
    </div>