@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&family=Playfair+Display:wght@400;700&family=Raleway:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');
/* ======================================================
   Responsive Styling and Layout
   =======================================================  */

/* ========== Use Border Box model ============ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ======== Basic Responsive Images and Video ========= */
  img,video{
    width: auto;
    height: auto;
    max-width: 100%;
  }
  
  /* ======== Responsive Embedded Video ================= */
  /* to use this add a div with class videoWrapper around the iframe markup copied from YouTube or Vimeo. Then also add a ratio-16-9 (most common) or ratio-4-3 class to the wrapper depending on the aspect ratio of your video */
  /* More info here: https://codepen.io/profstein/pen/mArLRj */
  .videoWrapper {
      position: relative;
      padding-top: 25px;
      height: 0;
    clear:both;
    outline:1px solid red;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  /* ================= ===========================
  Overall Vars
  ================================================ */
  :root{
    --page-padding: 0 1rem;
    --page-width: 50rem;
  }


  /* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */
  /* Add your CSS for the site here */
  :root{
    --body-font: 'Raleway', sans-serif;
    --click-font: 'Lato', sans-serif;

  --heading-font: 'Playfair Display', sans-serif;
  --heading-size: 60px;
  --heading-weight: 400;
  
  --subheading-font: 'Playfair Display', sans-serif;
  --subheading-size: 36px;
  --subheading-weight: 700;
}

/* 
======================
COLOR
set up colors here
====================== */
:root{
  /*   base colors */
    --primary-color: #55778B;
    --background-color: #ffffff;
    --secondary-1: #896F90;
    --secondary-2: #2F4A6B;
    --secondary-3: #78BFC2;
    --secondary-4: #222222;
    
    
    /* text colors */
    --heading: var(--primary-color);
    --subheading: var(--secondary-2);
    
    /* link colors */
    --link: var(--secondary-1);
    --link-active: var(--secondary-2) ;
    --link-visited: var(--secondary-3);
    
    /* button colors */
    --button: var(--primary-color);
  }


 
/* 
======================
 TYPOGRAPHY
 base typography
====================== */
  /* The html and body selectors below set the base font for the entire page */
html {font-size: 1rem;}

body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  
/*   there are other ways to do this but it's good to remember not to let text run right up to the edge of borders or color changes, images etc.' */
/*   padding: 1em; */
}

/* This adds space between paragraphs and list items
   NOTE: most Navigations use list items so you will need to 
   explicity set the margins on those so this rule doesn't 
   mess up your navigation styling */
p, li {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Base Styling for headings  */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heading-weight);
  font-family: var(--heading-font);
}

/* For each of your headings at minimum set the margin, size, line-height. Adjust font-weight and other properties as needed. */

h1 {
  font-size: 5.063em;
  line-height: 1;
  margin: 0 0 0.5rem 0;
}

h2 {
  font-size: 3.375rem;
  line-height: 1.2;
  margin: 1.5rem 0 0.5rem 0;
}

h3 {
  font-size: 2.25em;
  line-height: 1;
  margin: 1.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 1.5rem 0 0.5rem 0;
}

h5 {
  font-size: 1rem;
  line-height: 1;
  margin: 1.5rem 0 0.5rem 0;
  
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0 0 0;
  font-weight: 400; /* normal */
  text-transform: uppercase;
}

/* basic captioned image */
.image{
  position: relative;
}
.image img{
  /* remove gap under image */
  display: block;
}
.image figcaption{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  font-size: .8rem;
}

  
/* page titles */
.page-header {
  text-align: center;
  margin-bottom: 4rem;
}
.page-description{
  font-family: var(--heading-font);
  font-style: italic;
}

.cite{
  font-family: var(--heading-font);
  font-style: italic;
  font-weight: 400;
}

/* 
==============================
Site footer
============================== */
.site-footer{
  background-color: var(--secondary-3);
  padding: 2rem 10px 3rem 10px;
}
.footer-nav{
  text-align: center;
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
.footer-nav ul{
  margin: 0;
  padding: 0;
}
.footer-nav li{
  display: inline;
  list-style-type: none;
  padding-right: 40px;
}
.footer-nav a{
  text-decoration: none;
  color: #fff;
}
.footer-nav a:hover{
  color: #896F90;
}
@media screen and (min-width: 800px){
  .site-footer-content{
    width: var(--page-width);
    margin: 0 auto;
  }
  .footer-nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }
  .footer-nav li{
    padding-right: 0px;
    display: block;
    list-style-type: none;
  }
}

/* 
==============================
Individual page styles. 
base.njk gives Each page on the site has a class on body that is the slug for the page.
============================== */

/* Limit About and Benefits page width */

.about main, .benefits main{
  width: var(--page-width);
  margin: 0 auto;
}

/* ---------------- Poses Page Styles -------------- */
/* Adjust filter buttons */
.poses .filters{
  padding:.5rem;
}
.poses .filters .button:first-child{
  width: 100%;
}

@media screen and (min-width: 675px){
  .poses .filters .button:first-child{
    width: auto;
  }
}