.pose-description, .tags, .pose-footer, .pose .gallery h2{
    /* padding: var(--page-padding); */
    width: 50rem;
    margin: 0 auto;
}

.pose .page-header h2{
  margin-bottom: 3rem;
}

.pose-description{
    max-width: 60rem;
}

.pose .gallery{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.pose .gallery .gallery_title{
    grid-column: 1/-1;
}
.pose .gallery_image{
      
    position: relative;
}
.pose .gallery_image img{
    /* remove gap under image */
    display: block;
    /* allow for caption */
    margin-bottom: 1.5rem;
}
.pose .gallery_image figcaption{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: rgba(225, 225, 225, 0.5);
    padding: 0 10px;
    font-size: .8rem;
}

.pose .info{
  text-align-last: left;
}

/* list styling borrowed from: https://codepen.io/KristinB/pen/vpHBs?editors=1100 */

dl {
    padding-left: 10em !important;
  }
  dl:after {
    content: "";
    display: table;
    clear: both;
  }
  
  dt, dd {
    margin-bottom: 0.5em;
    float: left;
  }
  dt:last-of-type, dd:last-of-type {
    margin-bottom: 0;
  }
  
  dt {
    font-weight: 700;
    width: 9em;
    margin-left: -10em;
    clear: left;
  }
  dt:after {
    /* content: ":"; */
  }
  
  dd {
    margin-left: 0;
    clear: right;
  }
  
  dl {
    background: var(--secondary-3);
    padding: 0.5em;
  }
  
  dt {
    padding-left: 0.5em;
  }